/*=========================*/
/*======== Portfolio=======*/
/*=========================*/

* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica Neue, sans-serif;
   background-color: #EEEEEE;
}

/*======== HEADER & FOOTER =======*/
/*--- Header ---*/
header {
   width: 100%;
   background-color: #FFFFFF;
}

.navigation {
   max-width: 960px;
   margin: 0 auto;
   clear: both;
}

.navigation::after {
   content: "";
   display: block;
   clear: both;
}

.navigation .name{
   float: left;
   color: white;
}

.name h1 {
   padding: 20px 10px;
   background-color: #65A8A5;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation .navBar{
   float: right;
}

.navBar ul {
   list-style-type: none;
   padding: 30px 0px;
}

.navBar ul li{
   display: inline-block;
   padding-left: 40px;
}


.navBar ul li a {
   text-decoration: none;
   color: #666666;
}

.navBar ul li a:hover {
   text-decoration: none;
   color: #65A8A5;
}

/*--- Footer ---*/
footer {
   clear: both;
   text-align: center;
   padding: 30px;
   background-color: #666666;
   border-top: 2px #65A8A5 solid;
}

/*======== content =======*/
/* this ".content" is being used for the Home, contact & portfolio */
.container {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   clear: both;
}

/*======= Home Page ======*/
.home-container {
   padding-top: 30px;
}

.content-description {
   float: left;
   width: 100%;
   max-width: 650px;
   margin: 40px 0 40px 0;
   background-color: white;
   padding: 30px;
   border: 1px #dddddd solid;
}

#portfolio-pic {
   width: 150px;
   height: 150px;
   float: left;
   margin-right: 20px;
}

p {
   line-height: 1.8;
}

h2 {
   color: #4aaaa5;
   margin-bottom: 30px;
   margin-top: 0px;
   border-bottom: 3px #dddddd solid ;
   padding-bottom: 20px;
}

/*----- contact information -----*/
.contact-info {
   float: right;
   width: 100%;
   max-width: 270px;
   margin: 40px auto;
   background-color: white;
   padding: 30px;
   border: 1px #dddddd solid;
}

.contact-info .icon-social {
   width: 60px;
   height: 60px;
   cursor: pointer;
}

/*======== CONTACT PAGE=======*/
form {
   color: #666666;
   font-size: 20px;
}

form input[type=text], label, textarea {
   display: block;
   width: 100%;
   padding: 5px 0px;
   margin: 10px 0px;
   font-size: 20px;
   outline: none;
}

input, textarea {
   border: 1px solid #ddd;
}

input[type=submit] {
   background-color: #65A8A5;
   color: white;
   font-size: 16px;
   padding: 10px 30px;
   outline: none;
   cursor: pointer;
}

/*======== PORTFOLIO PROJECTS =======*/
.box {
   width: 250px;
   height: 250px;
   border: 1px #dddddd solid;
   margin: 20px;
   display: inline-block;
}

/*======== MEDIA QUERIES =======*/
/*==============================*/
@media only screen and (max-width: 980px) {

   .container {
      padding: 0 20px;
      max-width: 768px;
   }
   .navigation {
      padding: 0 20px;
      max-width: 768px;
   }
   .home-container {
      padding-top: 130px;  
   }
   .content-description {
      max-width: 420px;  
   }
   .box {
      width: 100%;
     
      margin: 20px auto;
   }
}
/* this affects the contact information section */
@media only screen and (max-width: 760px) {

   .content-description, .contact-info {
      max-width: 100%;  
   }
   .home-container {
      overflow: scroll; 
   }
   .contact-info {
      margin-top: 0px;
   }
}
/* this affects the entire header section */
@media only screen and (max-width: 600px) {

   header .navigation {
      padding: 0px; 
   }
   .name {
      width: 100%;
      text-align: center;
   }
   h1 {
      padding: 0px 0px;
   }
   .navBar {
      text-align: center;
      width: 100%;
      padding: 0px;
   }
   .navBar ul {
      list-style-type: none;
      padding: 10px 0px;
   }
   .navBar ul li{
      display: inline-block;
      width: 30%;
   }
}
